html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  height: 38px;

  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

a {
  text-decoration: none;
  color:#ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.list-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.full-ref {
  display: block;
  height: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.main-header,
.page-header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.main-header {
margin-bottom: 59px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top-row {
  margin: 0;
  height: 42px;
  background-color: #293449;
  color: #ffffff;
  margin-bottom: 46px;
}

.header-top-row .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo a,
.logo-footer a{
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  background-image: url('../img/logo-technomart.svg');
  background-repeat: no-repeat;
  background-size: 109px 19px;
  background-position: 50% 50%;
}

.logo a{
  width: 220px;
  height: 47px;

  background-size: 109px 19px;
  background-position: 50% 50%;
}

.logo-footer a{
  width: 220px;
  height: 68px;

  background-size: 136px 23px;
  background-position: 50% 46%;
}

.logo a:not(.logo-main):hover,
.logo-footer a:not(.logo-main):hover,
.logo a:not(.logo-main):focus,
.logo-footer a:not(.logo-main):focus {
  background-color: #ca2c37;
}

.logo a:not(.logo-main):active,
.logo-footer a:not(.logo-main):active {
  background-color: #ba2732;
}
.logo-main:focus {
  outline: none;
}


.search {
  width: 270px;
  height: 42px;
  position: relative;
}

.search svg {
  position: absolute;
  left: 17px;
  top: 12px;
  fill: rgba(255, 255, 255, 0.3);
}

.search input[type="search"] {
  height: 42px;
  width: 100%;
  padding: 11px 0 12px 48px;

  background-color: #293449;
  border:none;
  color: #ffffff;
  cursor: pointer;
}

.search:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.search-input:focus ~ svg {
  fill: #ee3643;
}

.search-input:focus {
  background-color: #ffffff;
  color: #000000;
}

input[type="search"]::-moz-placeholder {
  color: #ffffff;
}
input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}
input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}
input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}
input[type="search"]::placeholder {
  color: #ffffff;
}

.search input[type="search"]:hover {
  background-color: #212a3a;
}

.search input[type="search"]:focus {
  background-color: #ffffff;
  color: #000000;
}

.bookmarkers,
.order,
.order-activ,
.buy {
  height: 42px;
  width: 150px;
}

.bookmarkers,
.order,
.order-activ {
  padding-left: 18px;
  position: relative;

  text-align: center;
  line-height: 42px;
}

.bookmarkers::before {
  position: absolute;
  content: "";
  left: 17px;
  top: 12px;
  width: 14px;
  height: 16px;
  background-image: url('../img/icon-bookmark.svg');
  opacity: 0.3;
 }

.order::before {
  position: absolute;
  content: "";
  left: 17px;
  top: 12px;
  background-image: url('../img/icon-cart.svg');
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.order-activ {
  background-color: rgb(238, 54, 67);
  padding-left: 23px;
}

.order-activ::before {
  position: absolute;
  content: "";
  left: 17px;
  top: 12px;
  background-image: url('../img/icon-cart.svg');
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.bookmarkers:hover,
.order:hover,
.bookmarkers:focus,
.order:focus  {
  background-color: #212a3a;
 }

.bookmarkers:hover::before,
.order:hover::before,
.bookmarkers:focus::before,
.order:focus::before,
.order-activ:hover::before,
.order-activ:focus::before {
   opacity: 1;
 }

.bookmarkers:active,
.order:active {
  opacity: 0.6;
  background-color: #161d29;
}

.bookmarkers:active::before,
.order:active:before {
  opacity: 0.5;
}

.buy {
  width: 150px;
  height: 42px;

  line-height: 42px;
  padding-left: 20px;
  background-color: #63a63e;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  opacity: 0.5;
  background-color: #5fbb2d;
}

.header-middle-row {
  min-height: 60px;
  background-color: #f4f7f9;
  margin-bottom: 40px;
}

.header-middle-row .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-left:53px;
  padding-top: 3px;
  width: 197px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
}

.header-contacts a {
  position: relative;
  width: 100%;
  min-height: 45px;
  margin-bottom: 5px;
  padding-top: 9px;
  padding-left: 71px;

  border: solid 3px #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts a::before {
  content: "";
  position: absolute;
	top: 10px;
  left: 12px;

	width: 19px;
	height: 19px;
	background: url('../img/icon-phone.svg') no-repeat;
	}

.header-adress {
  margin: 0px;
  padding-left: 9px;

  font-size: 14px;
  line-height: 21px;
  color: #32425c;
 }

.user-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.personal-enter {
  position: relative;
  width: 121px;
  height: 45px;
  padding-top: 12px;
  padding-left: 47px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.personal-enter::before {
  content: "";
  position: absolute;
	top: 13px;
	left: 15px;
	width: 20px;
	height: 17px;
  background-image: url('../img/icon-login.svg');
}

.registration {
  width: 150px;
  height: 45px;
  padding-top: 13px;
  padding-left: 24px;
  margin-left: 10px;
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
}

.personal-enter:hover,
.registration:hover,
.personal-enter:focus,
.registration:focus {
  color: #ee3643;
}

.personal-enter:hover::before,
.personal-enter:focus::before  {
  background-image: url('../img/icon-login-dark.svg');
}

.personal-enter:active,
.registration:active {
  opacity: 0.3;
  color: #000000;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 22px;
  padding-right: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.navigation-item a {
  padding: 20px 29px 23px 29px;

  line-height: 17px;
  color: #ffffff;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.nav-item-company {
  padding-left: 5px;
}

.nav-item-catalog {
  padding-left: 1px;
}

.nav-item-news {
  padding-left: 2px;
}

.nav-item-sale {
  padding-left: 1px;
}

.nav-item-delivery {
  padding-left: 4px;
}

.nav-item-contact {
  padding-left: 4px;
}

.navigation-item a:hover,
.navigation-item a:focus {
  background-color:#1d2739;
}

.navigation-item a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.nav-activ a:hover,
.nav-activ a:active,
.nav-activ a:focus {
  background-color: #32425c;
  color: #ffffff;
}

/* блок промо */
.promo {
  margin-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 620px;
}

.promo-column2 {
  width: 300px;
}

.promo-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 123px;
  padding: 22px 0px 22px 22px;
  margin-bottom: 20px;
}

.promo-item:last-child {
	margin-bottom: 0px;
}

.promo-title {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.promo-btn {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-btn:hover,
.promo-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-column1 a {
  margin-left: 3px;
}

.materials {
  background-color: #ffbf47;
  margin-right: 20px;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 31px;
  background-repeat: no-repeat;
}

.tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 33px;
  background-repeat: no-repeat;
}

.techincs {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 191px 31px;
  background-repeat: no-repeat;
}

.discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 196px 26px;
  background-repeat: no-repeat;
 }

.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 191px 31px;
  background-repeat: no-repeat;
}

.new {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  z-index: 2;
  background-image: url("../img/new-flag.png");
}

/* Слайдер Промо" */

.slider-promo {
  position: relative;
  width: 620px;
  height: 266px;

  color: #ffffff;
  background-color: #000000;
}

.slider-promo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 100%;
  height: 266px;
  padding-top: 23px;
  padding-left: 24px;
  padding-bottom: 21px;
}

.slider-promo-title {
  margin: 0;
  margin-bottom: 2px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-promo-description {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
}

.slider-btn {
  margin-top: auto;
  width: 195px;
 }

.btn-red:hover,
.btn-red:focus {
  background-color: #ca2c37;
}
.btn-red:active {
  background-color: #ba2732;
}


.promo-controls-item {
  position: relative;
  cursor: pointer;
}

.slider-promo-item--1:before{
  position: absolute;
  content: "";
  top: -107px;
  left: -270px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg")
}

.slider-promo-item--2:before {
  position: absolute;
  content: "";
  top: -107px;
  right: -275px;

  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right.svg")
}

.slider-promo-item--1 {
  position: absolute;
  content: "";
  top: 220px;
  left: 295px;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-promo-item--2 {
  position: absolute;
  content: "";
  top: 220px;
  right: 295px;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-promo-item:nth-child(1) {
  display: none;
  background-image: url("../img/sliderImage-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-promo-item:nth-child(2) {
  display: none;
  background-image: url("../img/sliderImage-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#promo-product-1:checked ~ .slider-promo-list .slider-promo-item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#promo-product-2:checked ~ .slider-promo-list .slider-promo-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#promo-product-2:checked ~ .slider-promo-controls .slider-promo-item--2::after,
#promo-product-1:checked ~ .slider-promo-controls .slider-promo-item--1::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;

  background-color: #ee3643;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

#promo-product-2:focus ~ .slider-promo-controls .slider-promo-item--2::before,
#promo-product-1:focus ~ .slider-promo-controls .slider-promo-item--1::before,
#promo-product-2:focus ~ .slider-promo-controls .slider-promo-item--2,
#promo-product-1:focus ~ .slider-promo-controls .slider-promo-item--1 {
  outline: -webkit-focus-ring-color auto 3px;
}

/* Популярные товары и производители */

.goods-header,
.manufacturer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 100%;
  height: 89px;
  padding-left: 28px;
  padding-right: 24px;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.title-big {
  padding: 0;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  color: #32425c;
  text-transform: uppercase;
}

.popular-btn {
  width: 253px;
}

.catalog-popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promo-manufacturer {
  margin-bottom: 65px;
}

.manufacturer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
 .manufacturer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  margin-bottom: 20px;
}

.img-makita {
  padding-bottom: 3px;
}

.img-dewalt {
  padding-bottom: 3px;
}

.img-hitachi {
  padding-top: 4px;
  padding-left: 5px;
}

.img-lg {
  padding-right: 3px;
}

.img-inerskol {
  padding-bottom: 14px;
}

.img-aeg {
  padding-bottom: 1px;
}

.img-metabo {
  padding-bottom: 6px;
  padding-left: 3px;
}

 .manufacturer-item:hover,
 .manufacturer-item:focus {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
 }

 .manufacturer-item:active {
  -webkit-box-shadow: 0px 4px 10px 0 rgba(38, 64, 110, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(38, 64, 110, 0.5);
  background-color: #ffffff;
  opacity: 0.3;
 }

/*   Слайдер сервисы */

.servises {
  background-color: #f4f7f9;
  min-height: 522px;
}

.slider-servises {
  position: relative;
  padding-top: 66px;
}

.servises-title {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.description {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.description-bottom {
  margin-bottom: 68px;
}

.slider-servises-controls {
  position: absolute;
  left: 10px;
  top: 240px;
  z-index: 10;
  width: 240px;
  height: 183px;
}

.slider-controls-item {
  position: relative;
  z-index: 10;
  display: block;
  width: 240px;
  height: 61px;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 22px;
  -webkit-box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
          box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

 .active-slider {
  -webkit-box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
          box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.slider-servises-controls::after {
  position: absolute;
  content: "";
  top: -46px;
  left: 230px;
  width: 10px;
  height: 270px;
  background-image: url("../img/divider.png");
  z-index: 10;
}

.slider-servises-list {
  margin-left: 320px;
}

.slider-servises-item {
  display: none;
  min-height: 285px;
}

.slider-servises-title {
  max-width: 390px;
  margin: 0;
  margin-bottom: 24px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.slider-servises-item p {
  max-width: 377px;
}

.slider-servises-bt {
  width: 195px;
  margin-top: 25px;
}

.slider-servises-item:nth-child(1) {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 21px;
}

.slider-servises-item:nth-child(2) {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slider-servises-item:nth-child(3) {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

#services-product-1:checked ~ .slider-servises-list .slider-servises-item:nth-child(1),
#services-product-2:checked ~ .slider-servises-list .slider-servises-item:nth-child(2),
#services-product-3:checked ~ .slider-servises-list .slider-servises-item:nth-child(3) {
  display: block;
}

#services-product-1:hover ~ .slider-servises-controls .slider-controls-item--1,
#services-product-2:hover ~ .slider-servises-controls .slider-controls-item--2,
#services-product-3:hover ~ .slider-servises-controls .slider-controls-item--3,
#services-product-1:focus ~ .slider-servises-controls .slider-controls-item--1,
#services-product-2:focus ~ .slider-servises-controls .slider-controls-item--2,
#services-product-3:focus ~ .slider-servises-controls .slider-controls-item--3 {
  -webkit-box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
          box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #293449;
  outline: -webkit-focus-ring-color auto 3px;
  color: #ffffff;
}

#services-product-1:checked ~ .slider-servises-controls .slider-controls-item--1,
#services-product-2:checked ~ .slider-servises-controls .slider-controls-item--2,
#services-product-3:checked ~ .slider-servises-controls .slider-controls-item--3 {
  -webkit-box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
          box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #32425c;
}

#services-product-2:checked ~ .slider-servises-controls .active-slider,
#services-product-3:checked ~ .slider-servises-controls .active-slider {
  -webkit-box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
          box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  color: #ffffff;
}

/* О нас */
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.about-title {
  margin: 0;
  padding-top: 79px;
  margin-bottom: 26px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.slogan,
.main-contacts  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-contacts {
  width: 300px;
}

.slogan {
  width: 520px;
}

p.paragraph-indent {
  margin-bottom: 24px;
}

.carriers-list {
  margin-top: -3px;
  margin-bottom: 13px;
}

.about-company {
  width: 220px;
  margin-top: auto;
}

.main-contacts p {
    margin-bottom: 31px;
}

.write-us {
  width: 300px;
  padding-top: 2px;
  padding-left: 5px;
}

.main-contacts-map {
  margin-bottom: 36px;
}

.carrier-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
}

.carrier-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: 0px;
  top: 9px;
  z-index: 1;
}

.main-footer,
.page-footer {
  background-color: #32425c;
}

.footer-top-row,
.footer-middle-row,
.footer-bottom-row .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation-list,
.footer-catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer-top-row {
  margin-bottom: 27px;
}

.footer-navigation {
  margin-left: 173px;
  padding-top: 38px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-navigation-list a{
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation-list a:hover,
.footer-catalog-list a:hover,
.footer-navigation-list a:focus,
.footer-catalog-list a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.footer-catalog-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-middle-row {
  padding-bottom: 47px;
  background-color: #32425c;
}

.footer-adress {
  margin: 0;
  padding-left: 2px;
  padding-top: 1px;
  width: 327px;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-catalog-list{
   -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 88px;
  }

.footer-catalog-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-bottom-row {
   background-color: #293449;
   padding-top:38px;
   padding-bottom: 28px;
}

.footer-bottom-row .container {
  padding-left: 11px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.copyright {
  margin: 0;
  width: 228px;

  font-size: 16px;
  color: #ffffff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 160px;
  margin-top: -3px;
}

.social-item {
  margin-right: 3px;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
}

.social-item:hover,
.social-item:focus,
.social-item:active  {
  background-color: #ee3643;
}

.icon-vk {
  background-image: url('../img/icon-vk.svg');
  background-size: 26px 15px;
}

.icon-fb {
  background-image: url('../img/icon-fb.svg');
  background-size: 12px 22px;
}

.icon-insta {
  background-image: url('../img/icon-insta.svg');
  background-size: 21px 21px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 116px;
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 52px;
}

.feedback p,
.developer p{
  margin: 0;

  font-size: 16px;
  color: #ffffff;
}

.feedback a,
.developer a {
  font-size: 16px;
  color: #ffd180;
  text-decoration: none;
}

.feedback a:hover,
.developer a:hover,
.feedback a:focus,
.developer a:focus  {
  text-decoration: underline;
}

.feedback a:active,
.developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/* catalog.css */

.user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-left: auto;
  width: 299px;
}

.personal-box  {
  position: relative;
  width: 250px;

  min-height: 45px;
  padding-left: 46px;
  padding-top: 13px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.personal-box::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  background-image: url("../img/icon-user.svg");
  width: 20px;
  height: 18px;
}

.personal-exit  {
  width: 49px;
  height: 45px;
  padding-top: 13px;
  font-size: 21px;
  background-color: #ffffff;
  position: relative;
}

.personal-exit::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  background-image: url("../img/icon-logout.svg");
  width: 20px;
  height: 17px;
}

.personal-box:hover::before,
.personal-box:focus:before {
  background-image: url("../img/icon-user-dark.svg");
}

.personal-box:active::before {
  background-image: url("../img/icon-user.svg");
}

.personal-box:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-exit:hover::after,
.personal-exit:focus::after {
  background-image: url("../img/icon-logout-dark.svg");
}

.personal-exit:active::after {
  background-image: url("../img/icon-logout.svg");
}

.personal-data {
  width: 290px;
  height: 27px;
  margin-left: 17px;
  padding-top: 7px;
  background-color: #f4f7f9;
}

.my-orders,
.my-cabinet {
  font-size: 16px;
  line-height: 16px;
  text-decoration: underline;
  color: #32425c;
}

.my-cabinet {
  position: relative;
  padding-left: 29px;
}

.my-cabinet::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;

  width: 2px;
  height: 2px;

  border:2px solid black;
  border-radius: 50%;
}

.my-orders:hover,
.my-cabinet:hover,
.my-orders:focus,
.my-cabinet:focus {
  color: #ee3643;
  border-bottom-color: #ee3643;
}

.my-orders:active,
.my-cabinet:active {
  border-bottom-color: rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3)
}

.my-cabinet:active::before {
  opacity: 1;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 59px;
  padding-top: 22px;
}

.breadcrumbs-home svg {
  -webkit-transform: translateX(-2px);
      -ms-transform: translateX(-2px);
          transform: translateX(-2px);
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  right: -24px;
  top: 0px;

  width: 8px;
	height: 12px;
  background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
}

.breadcrumbs-item a,
.breadcrumbs-activ {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;

  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-activ {
  padding-left: 4px;
}

.inner-page h1 {
  margin: 0px;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-top: 36px;

  width: 100%;
  min-height: 89px;
  background-color: #f2f6f8;

  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.filters-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters-title {
  margin: 0;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-top: 11px;
  height: 38px;

  background-color: #f7f3ec;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

/* фильтр цены */

.filter-price {
  width: 100%;
}

.filter-price-item {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border: none;
}

.filter-price-item legend {
  margin-bottom: 13px;
}

.range-filter {
  width: 100%;
}

.filter-price-item legend {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

/* управление шириной прогресс бара  */
.range-controls .bar {
  width: 83.3%;
  height: 2px;
  margin-left: 0%;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height:22px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;

  width: 10px;
  height: 1px;
  background-color: #000000;
}


.price-controls input {
  width: 95px;
  height: 38px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  padding-left: 7px;
  color: #000000;

  border: none;
  border-radius: 3px;
  background: #f7f3ec;
}

.max-price {
  margin-left: auto;
}

/* чекбокс и радио фильтры*/

.producer-fieldset,
.battery-fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 61px 0 2px 0px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #e5e5e5;
}

.producer-fieldset legend,
.battery-fieldset legend {
  position: absolute;
  top: 17px;
  left: 1px;
  margin-bottom: 14px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  }

.battery-fieldset legend {
  letter-spacing: 0.17px;
}

.battery-fieldset {
  margin-bottom: 57px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 0px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

label.checkbox-new,
label.radio-new {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
}

.checkbox-new::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0px;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.checkbox:checked + .checkbox-new::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.checkbox:hover + .checkbox-new::before,
.checkbox:focus + .checkbox-new::before  {
  opacity: 1;
}

.checkbox:disabled + .checkbox-new {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
  outline: none;
}

.radio-new::before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  opacity: 0.8;
}

.radio-input:checked + .radio-new::before{
  background-image: url("../img/radio-on.svg");
}

.radio-input:disabled + .radio-new {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.4);

  cursor: default;
  outline: none;
}

.radio-input:hover + .radio-new::before,
.radio-input:focus + .radio-new::before  {
  opacity: 1;
}

.checkbox:focus + label,
.radio-input:focus + label {
  outline: -webkit-focus-ring-color auto 1px;
}

/*  фильтры   */

.filters-bt {
  width: 140px;
  height: 38px;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

/* сортировка */

.catalog {
  width: 700px;
  margin-bottom: 31px;
}

.sorting {
  width:100%;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f7f3ec;
  margin-bottom: 20px;
  padding-top: 11px;
}

.sorting-title {
  padding:0;
  margin: 0;
  margin-left: 19px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 139px;
  width: 355px;
}

.sorting-item a {
  display: block;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;

  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgb(238, 54, 67);
  text-transform: uppercase;
}

.sorting-item a:hover,
.sorting-item a:focus  {
  color: #000000;
  border-bottom: 1px dotted rgb(238, 54, 67);
}

.sorting-item a:active {
  color: #ee3643;
  border: none;
}

.sorting-active a,
.sorting-active a:hover,
.sorting-active a:focus {
  border: none;
  color: #ee3643;
}

.regulate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 46px;
}

.regulate-up {
  margin-left: 21px;
}

.regulate-item svg {
  fill: #c5c5c5;
}

.regulate-item:hover svg,
.regulate-item:focus svg {
  fill: #231F20;
}

.regulate-item:active svg {
  fill: #ee3643;
}

.regulate-active svg,
.regulate-active:hover svg,
.regulate-active:focus svg {
  fill: #ee3643;
}

/* Каталог */

.catalog-list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

/* для обнуления пробелов после строчного блочного элемента но не работае */
.catalog-list,
.catalog-popular {
  font-size: 0;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-popular .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .product-new {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 2;
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-img img {
  margin-bottom: 1px;
}

.catalog-title {
  max-width: 160px;
  margin-bottom: 10px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.catalog-item .old-prise {
  min-height: 28px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .new-prise {
  width: 141px;
  height: 38px;
  margin-left: 6px;
  margin-top: auto;
  padding-left: 35px;

  color: white;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 38px;
  font-weight: bold;

  background-image: url("../img/item-button.svg");
  background-repeat: no-repeat;
}

.catalog-item .hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 164px;
  padding: 44px 0 37px 0;

  background-color:#ffffff;
  z-index: 1;
}

.catalog-item:hover > .hidden,
.catalog-item:focus > .hidden {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    outline: none;
}

.item-buy,
.item-bookmark {
  width: 135px;
  height: 38px;
  margin: 0 auto;

  font-size: 14px;
  text-transform: uppercase;
}

.item-buy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;

  -webkit-box-shadow: inset 0px -3px 0 0 #367315;

          box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
}

.item-buy::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 11px;
  width: 15px;
  height: 15px;
  background-image: url('../img/icon-cart.svg');
  opacity: 0.3;
}

.item-bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  border: solid 3px #63a63e;
  background-color: transparent;
  color: #32425c;
}

.item-buy:hover,
.item-buy:focus {
  background-color: #5fbb2d;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
}

.item-buy:hover::before,
.item-buy:focus::before,
.item-buy:active::before {
  opacity: 1;
}

.item-buy:active {
  background-color: #518534;
}

.item-bookmark:hover,
.item-bookmark:focus {
  border: solid 3px #32425c;
}

.item-bookmark:active {
  opacity: 0.3;
}

/* Пагинация */
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 240px;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  width: 38px;
  height: 38px;
  padding-top: 11px;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.pagination-next a {
  width: 140px;
  height: 38px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-next a:hover,
.pagination-next a:focus  {
  border: solid 1px #bdc6ca;
}

.pagination-item a:active,
.pagination-next a:active {
  border: solid 1px #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.main-article {
  min-height: 261px;
  background-color: #f4f7f9;
  padding-top: 67px;
  padding-bottom: 68px;
}

.main-article p {
  margin: 0;
  padding-top: 26px;
  width: 938px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.11px;
}

/* Всплывающая формы запроса */
.modal {
  position: fixed;
  z-index: 100;
  color: #000000;
  background-color: #ffffff;
}

.modal-write {
  display: none;
  width: 620px;
  min-height: 430px;
  top: 50%;
  left: 50%;
  padding-top: 46px;
  padding-bottom: 37px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid red;
}

.modal-write::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}

.modal-show-popup {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(2000px, 200px);
            transform: translate(2000px, 200px);
  }

  70% {
    -webkit-transform: translate(-150px, -150px);
            transform: translate(-150px, -150px);
  }

  90% {
    -webkit-transform: translate(-225px, -180px);
            transform: translate(-225px, -180px);
  }

  100% {
    -webkit-transform: translate(-300px, -220px);
            transform: translate(-300px, -220px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(2000px, 200px);
            transform: translate(2000px, 200px);
  }

  70% {
    -webkit-transform: translate(-150px, -150px);
            transform: translate(-150px, -150px);
  }

  90% {
    -webkit-transform: translate(-225px, -180px);
            transform: translate(-225px, -180px);
  }

  100% {
    -webkit-transform: translate(-300px, -220px);
            transform: translate(-300px, -220px);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {

            -webkit-transform: translate(-360px, -215px);

                    transform: translate(-360px, -215px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {

            -webkit-transform: translate(-370px, -215px);

                    transform: translate(-370px, -215px);
  }
  20%,
  40%,
  60%,
  80% {

            -webkit-transform: translate(-350px, -215px);

                    transform: translate(-350px, -215px);
  }
}

@keyframes shake {
  0%,
  100% {

            -webkit-transform: translate(-360px, -215px);

                    transform: translate(-360px, -215px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {

            -webkit-transform: translate(-370px, -215px);

                    transform: translate(-370px, -215px);
  }
  20%,
  40%,
  60%,
  80% {

            -webkit-transform: translate(-350px, -215px);

                    transform: translate(-350px, -215px);
  }
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 12px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
  width: 27px;
  height: 4px;
  z-index: 10;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
  margin-left: 80px;
}

.write-message {
  padding-bottom: 37px;
}

.button-modal-write {
  width: 460px;
  z-index: 20;
}

.write-user-mail {
  padding-bottom: 22px;
}

.write-user-name label,
.write-user-mail label,
.write-message label {
  display: block;
  margin-bottom: 9px;
  padding-left: 1px;

  font-size: 18px;
}

.form-message input,
.form-message textarea {
  border: solid 2px #d7dcde;
}

.form-message input:hover,
.form-message textarea:hover {
  border: solid 2px #b5b5b5;
}

.form-message input:focus,
.form-message textarea:focus  {
  border: solid 2px #ee3643;
}

.write-user-name input[placeholder],
.write-user-mail input[placeholder] {
  padding-left: 13px;
 }

.write-message textarea[placeholder] {
  padding-top: 9px;
  padding-left: 14px;
 }

.write-message {
  padding-bottom: 74px;
}

.button-modal-write {
  width: 460px;
}

.form-message input,
.form-message textarea {
  padding-left: 16px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;

  color: #a9a9a9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
}

.form-message input {
  width: 220px;
  height: 38px;
}

.write-message textarea {
  width: 460px;
  height: 114px;
}

.modal-write p {
  margin: 0;
  margin-bottom: -2px;
}

/* Модальная карта */
.modal-map {
  display: none;
  width: 940px;
  height: 446px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-map p {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  width: 940px;
  height: 446px;
  -webkit-box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  border: none;
}

.modal-show-map {
  display: block;
}

/*   Окно при покупке товара */

.modal-buy {
  display: none;
  min-height: 282px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid red;
}

.modal-show-buy {
  display: block;
}

.modal-buy p {
  margin: 0;
}

.modal-buy-desription {
  position: relative;

  padding-top: 63px;
  padding-left: 180px;
  padding-bottom: 69px;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.modal-buy-desription::before {
  content: "";
  position: absolute;
  background-image: url("../img/modal-check.svg");
  width: 66px;
  height: 66px;
  left: 81px;
  top: 47px;
}

.modal-buy-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 620px;
  min-height: 112px;
  margin: 0px;
  padding: 0px;
  padding-top: 38px;
  background-color: #f1f1f1;
}

.modal-bt-order {
  width: 220px;
  margin-left: 80px;
}

.modal-bt-continue {
  width: 220px;
  margin-right: 80px;
  background-color :#ffffff;
  color: #000000;
}
